<!DOCTYPE html>
<html>
    <head>
        <title>Belt Exam</title>        
    </head>
    <body>
        <div>
            <h1>Registration</h1>
            <form action="/regist" method='post'>
                {% csrf_token %}
                Name:<br>
                <input type="text" name="name">
                <br>
                Username:<br>
                <input type="text" name="username">
                <br>
                Password:<br>
                <input type="password" name="password">
                <br>
                Password confirm: <br>
                <input type="password" name="password_confirm">
                <br>
                <input type="submit" value="Register">
            </form> 
        </div>
        <div>
            <h1>Log in</h1>
            <form action="/login" method='post'>
                {% csrf_token %}
                Username:<br>
                <input type="text" name="username">
                <br>
                Password:<br>
                <input type="password" name="password">
                <br>
                <input type="submit" value="Login">
            </form> 
        </div>
                {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </body>
</html>